---
# tasks file for collabora_online

- name: Import assert.yml
  ansible.builtin.import_tasks:
    file: assert.yml
  run_once: true
  delegate_to: localhost

- name: Prepare debian
  when:
    - ansible_pkg_mgr == "apt"
  block:
    - name: Ensure keyrings directory exists
      ansible.builtin.file:
        path: /usr/share/keyrings
        state: directory
        mode: "0755"

    - name: Download collabora key (apt)
      ansible.builtin.get_url:
        url: "{{ collabora_online_key }}"
        dest: /usr/share/keyrings/collaboraonline-release-keyring.gpg
        mode: "0644"

    - name: (Debian/Ubuntu) Add NGINX signing key
      ansible.builtin.get_url:
        url: "https://www.collaboraoffice.com/downloads/gpg/collaboraonline-release-keyring.gpg"
        dest: /usr/share/keyrings/collaboraonline-release-keyring.gpg
        checksum: "{{ collabora_online_key }}"

    - name: Add repository (apt)
      ansible.builtin.copy:
        dest: /etc/apt/sources.list.d/collaboraonline.sources
        content: |
          Types: deb
          URIs: {{ collabora_online_repo }}
          Suites: ./
          Signed-By: /usr/share/keyrings/collaboraonline-release-keyring.gpg
        mode: "0644"

- name: Prepare redhat
  when:
    - ansible_pkg_mgr in [ "dnf", "yum", "dnf5" ]
  block:
    - name: Add collabora key (dnf and yum)
      ansible.builtin.rpm_key:
        key: "{{ collabora_online_key }}"
        validate_certs: false

    - name: Add repository (dnf and yum)
      ansible.builtin.yum_repository:
        name: collabora_online
        description: Collabora Online CODE
        baseurl: "{{ collabora_online_repo }}"

- name: Install packages
  ansible.builtin.package:
    name: "{{ collabora_online_packages }}"

- name: Configure collabora online
  ansible.builtin.template:
    src: "{{ collabora_online_configuration_template }}"
    dest: /etc/coolwsd/coolwsd.xml
    owner: cool
    group: root
    mode: "0640"
  notify:
    - Restart service

- name: Start and enable service
  ansible.builtin.systemd:
    name: coolwsd
    state: started
    enabled: true
